.product-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 200px));
  justify-content: center;
  gap: 16px;
}

.product {
  cursor: pointer;
  position: relative;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #323232;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product-image {
  margin: 0;
  text-align: center;
  padding: 20px;
}

.product-image img {
  vertical-align: top;
}

.product-name {
  padding: 10px;
}



@media screen and (max-width: 768px) {
  .product-list {
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(100px, 180px));

  }
}

@media screen and (max-width: 420px) {
  .product-list {
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(100px, 180px));
  }

  [data-reach-dialog-content] {
    width: 75vw;
    margin: 8vh auto;
    background: white;
    padding: 1rem;
    outline: none;
  }
}