.product-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 200px));
    justify-content: center;
    grid-gap: 28px;
  }
  .product {
    cursor: pointer;
    position: relative;
    display: block;
    text-align: center;
    font-size: 14px;
    color:  #323232;
  }
  .product-image {
    margin: 0;
    text-align: center;
    padding-bottom: 7px;
  }
  .product-image img {
    vertical-align: top;
  }
  .product-overlay {
    background: rgba(0,0,0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

  }

  .product:hover .product-overlay {
    display: flex;
  }

  .product-likes,
  .product-comments {
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
  }

  .product-name {
      padding: 3px;
  }

  @media screen and (max-width: 768px) {
    .product-list {
      grid-gap: 10px;
      grid-template-columns: repeat(3, minmax(100px, 180px));

    }
  }

  @media screen and (max-width: 420px) {
    .product-list {
      grid-gap: 10px;
      grid-template-columns: repeat(2, minmax(100px, 180px));

    }
  }